body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF701;
}

.titulo {
    font-size: 7rem;
    margin-top: 4rem;
    margin-bottom: 20px;
    font-family: 'Anton', sans-serif;
    font-style: normal;
    color: #000000;
}

.progreso {
    width: 80%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.barra_Progreso{
    position: relative;
    background-color: #F2BC57;
    width: 25rem;
    height: 4rem;
    transform: skew(-30deg);


}

.barra_Progreso::-webkit-progress-bar{
    background-color: #F2594B;

}
/*Estilo del progreso*/
.barra_Progreso::-webkit-progress-value{
    background-color: #5B91A6;
}